@import "variables";

.grid {
    gap: 30px;
    grid-template-columns: 1fr;
    @media (min-width: $tablet-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet-landscape-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $small-computer-breakpoint) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $medium-computer-breakpoint) {
        grid-template-columns: repeat(5, 1fr);
    }
}